@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  @layer utilities {

    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  
    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    /* Custome scroll bar */
    ::-webkit-scrollbar {
      width: 6px; /* Adjust the width as needed */
    }


    ::-webkit-scrollbar-thumb {
      background-color: #e2810a; /* Adjust the color as needed */
      border-radius: 30px;
    }

  }
}


